apiVersion: v1
kind: Secret
metadata:
  name: argocd-github-release-generator
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
type: Opaque
data:
  plugin.argocd-github-release-generator.token: ${ARGOCD_TOKEN}
  plugin.argocd-github-release-generator.github_pat: ${GITHUB_PAT}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-github-release-generator
  namespace: argocd
data:
  # This is a workaround to prevent envsubst from removing the `$argocd` string
  # from the final yaml file after replacing.
  token: "$${GH_GENERATOR_LEAVE_EMPTY}argocd-github-release-generator:plugin.argocd-github-release-generator.token"
  baseUrl: "http://argocd-github-release-generator.argocd.svc.cluster.local:8080"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: argocd-github-release-generator
  name: argocd-github-release-generator
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argocd-github-release-generator
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: argocd-github-release-generator
    spec:
      containers:
      - env:
        - name: ARGOCD_TOKEN
          valueFrom:
            secretKeyRef:
              key: plugin.argocd-github-release-generator.token
              name: argocd-github-release-generator
        - name: GITHUB_PAT
          valueFrom:
            secretKeyRef:
              key: plugin.argocd-github-release-generator.github_pat
              name: argocd-github-release-generator
        image: ghcr.io/matipan/argocd-github-release-generator:v0.0.4
        imagePullPolicy: IfNotPresent
        name: argocd-github-release-generator
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 150m
            memory: 100Mi
          requests:
            cpu: 150m
            memory: 100Mi
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-github-release-generator
  namespace: argocd
spec:
  type: ClusterIP
  selector:
    app: argocd-github-release-generator
  ports:
    - port: 8080
      name: http
      targetPort: 8080
